<!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ -->

<!-- Footer -->


<footer>
  <div id="footer_about_us">
    <h4>About Us</h4>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.  
      </p>
    </div>
  </div>
  <div  id="footer_menu">
    <h4>Menu</h4>
    <div>
      <a href="">Home </a>
      <a href="">Account</a>
    </div>
  </div>
  <div  id="footer_contact_menu">
    <h4>Follow Us</h4>
    <div>
      <div class="icon_box">
        <i></i>
        Lorem ipsum dolor sit amet, consectetur
      </div>
      <div class="icon_box">
        <i></i>
        Lorem ipsum dolor sit amet, consectetur 
      <div class="icon_box">
        <i></i>
        Lorem ipsum dolor sit amet, consectetur 
      </div>

    </div>
  </div>
</footer>
