  <!-- Header  -->
  <header>
    <div id="header_container_1">
      <img src="/file/assets/icon.jpg" alt="">
      <b>company</b>
    </div>
    <nav id="header_container_2">
      <a href="/pg/home">Home</a>
      <a href="/pg/login">login</a>
      <a href="">Account</a>
     <div class="icon_div">
      <i class="fa-solid fa-align-right"></i>
     </div>
    </nav>
    <div id="header_container_3">
    <button>
      Create Post 
    </button>
    </div>

  </header>