/* بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ */


:root {
    --second-bg : #fff4ce ;
    --second-txt-color :#8c8d8d ;
    --h2--font :2em;
    --lite-border-color :#e6e7a1 ;
    --font-blue-color : #feffd7;
    --cl : #b18305; 
    --dark-cl :#cc9705
  }

