<!DOCTYPE html>


<!--
 بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ 
 -->

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page | Mubtasim App</title>
  
  <link rel="stylesheet" href="/file/css/Home.css">

  {{>links}}
  </head>

<body>

 {{>header}}

<!-- Main  -->
<main>

<!-- hero section  -->
<section id="home_hero_section">
  <div id="home_hero_section_div_1">
    <h1>
     Share You Voice With 
     The World
    </h1>
    
    <div class="btn_box">
          <button>Let's Go</button>
          <button>Check Info</button>
    </div>

  </div>
 
</section>




<!-- Heding Section -->

<section class="heading_section">
  <h2>Our Specialist </h2>
</section>

<!-- After hero Section  -->


<section id="home_icon_box_section">
  
  <div  class="Icon_box">
    <i class="fa-solid fa-user-group"></i>
    <h4>User Friendly</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.    </p>
 
      <button>
        <i class="fa-solid fa-arrow-right"></i>
       </button>
    </div>
  
  
  <div  class="Icon_box">
    <i class="fa-solid fa-user-group"></i>
    <h4>User Friendly</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. 
    </p>
 <button>
  <i class="fa-solid fa-arrow-right"></i>
 </button>
    </div>
 
 
  <div  class="Icon_box">
    <i class="fa-solid fa-user-group"></i>
    <h4>User Friendly</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.    </p>
      <button>
        <i class="fa-solid fa-arrow-right"></i>
       </button>
    </div>


</section>



<!-- writer and cetegory  -->

<section  id="home_goals_info_section">
 
  <div id="home_goals_info_section_div_1">
    
    <h3> Best Of Our Blog Cetegory To Write</h3>
   
    <img id="writer_img"  src="/file/assets/writer.png" alt="">

  </div>
  
 
  
  <div id="home_goals_info_section_div_2">
    

   <div class="img_box">
     <img src="/file/assets/science.jpg" alt="">
     <b>Science</b>
     <p>So delightful up dissimilar by unreserved it connection frequently. Do an high room so in paid. </p>
     <button>
      visit
     </button>
   </div>
   
   <div class="img_box">
    
     <img src="/file/assets/knowledge.jpg" alt="">
     <b>Friction</b>
     <p>
       So delightful up dissimilar by unreserved it connection frequently. Do an high room so in paid. 
     </p> 
     <button>
      visit
     </button>
   </div>    


    
  </div>
  
</section>


<!-- Heding Section -->

<section class="heading_section">
  <h2>About Us</h2>
</section>
<!-- About Us Section -->

<section id="about_us_section">
  
  <div>
    <img src="/file/assets/companyIcon.png" alt="">
  </div>
  
  
  <div class="div2">
    <h3> This made by Mubtasim </h3>
    <p>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.  
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.  

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.  
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.  

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.  
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.  

    </p>
    <div>
      <i class="fa-brands fa-facebook-icon"></i>
      <i></i>
      <i></i>
    </div>
  </div>
  
  
  
</section>

</main>


<!-- Footer -->
{{>footer}}

</body>

</html>