<!DOCTYPE html>


<!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ -->
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
   {{>links}}
   <link rel="stylesheet" href="/file/css/formPage.css">
    
</head>

<body>


  <!-- Header  -->
  {{>header}}



<!-- main -->

<main>
  <section>
    

<h1>Login To Enroll Our Service </h1>

<div class="form_box">
  
  
  
  <div title="email" class="input_box">
    <label  for="email_inp">Email</label>
    <input type="text" 
    placeholder="mub*****43@g**il.com"  
    id="email_inp">
  </div>
  <div title="Password" class="input_box">
      <label for="password_inp">Email</label>
      <input type="password" placeholder="akh****jk" name="" id="password_inp">
  </div>
  
  <a href=" ">
    Create an account <i></i>
  </a>
  
  <div class="btn_box">
    <button class="primary_btn" id="login_btn">
      Login
    </button>
    <button class="secondary_btn" id="sign_up_btn">
      Sign Up
    </button>
  </div>
 
</div>





  </section>

  </main>


<!-- Footer -->
{{>footer}}


</body>

</html>