<!DOCTYPE html>

<!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  -->
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign Up </title>
 {{>links}}
 <link rel="stylesheet" href="/file/css/formPage.css">
</head>

<body>
  
    <!-- Header  -->
 {{>header}}


  
  
  <!-- main -->
  <main>
    <section>
      <h1>Sign Up </h1>
      <div class="form_box">
        
        <div class="input_box">
          <label for="full_name_input">
            Full Name 
          </label>
          <input type="text" name=""
          id="full_name_input">
        </div>
        
       <div class="input_box">
          <label for="Email_input">
            email
          </label>
          <input type="text" name=""
          id="Email_input">
        </div>
        
       <div class="input_box">
          <label for="phone_input">
            phone
          </label>
          <input type="number" name=""
          id="phone_input">
        </div>
       <div class="input_box">
          <label for="password_input">
            password
          </label>
          <input type="text" name=""
          id="password_input">
        </div>
        
       <div class="input_box">
          <label for="cpassword_input">
          confirm password
          </label>
          <input type="text" name=""
          id="cpassword_input">
        </div>
        <div class="btn_box">
          <button class="primary_btn">Sign Up</button>
          <button class="secondary_btn">Login</button>
        </div>
      </div>
      
    </section>
    
  </main>
  
 

<!-- Footer -->
{{>footer}}

</body>

</html>
