<!DOCTYPE html>
<!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ -->
<!-- ﷺ -->
<!-- Allah is enough for me -->
<!-- InshaAllah -->


<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Varification </title>
 <link rel="stylesheet" href="/file/css/formPage.css">
 {{>links}}
</head>
<body>

  <!-- Header  -->
{{>header}}


<!-- main -->

<main> 
<section>
  
<h1>Varify By Otp</h1>
  <div class="form_box">
    <div class="input_box">
      <label for="varify_code_input">
        Varification Code
      </label>
      <input
      type="text" name="" 
      id="varify_code_input">
    </div>
    <div class="btn_box">
      <button class="primary_btn">Varify</button>
      <button class="secondary_btn">Sign Up</button>
    </div>
  </div>


</section>

</main>


<!-- Footer -->
{{>footer}}

</body>
</html>